@import "tailwindcss";
@import "tw-animate-css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-space-grotesk), var(--font-noto-sans), sans-serif;
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--background: oklch(100% 0.00011 271.152);
	--foreground: oklch(0.356 0.0688 272.6281);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.356 0.0688 272.6281);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.356 0.0688 272.6281);
	--primary: oklch(0.356 0.0688 272.6281);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9709 0.0045 78.2981);
	--secondary-foreground: oklch(0.356 0.0688 272.6281);
	--muted: oklch(0.9709 0.0045 78.2981);
	--muted-foreground: oklch(0.551 0.0234 264.3637);
	--accent: oklch(0.9489 0.0235 4.4817);
	--accent-foreground: oklch(0.356 0.0688 272.6281);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9276 0.0058 264.5313);
	--input: oklch(0.9276 0.0058 264.5313);
	--ring: oklch(0.356 0.0688 272.6281);
	--chart-1: oklch(0.356 0.0688 272.6281);
	--chart-2: oklch(0.9489 0.0235 4.4817);
	--chart-3: oklch(0.9505 0.0507 163.0508);
	--chart-4: oklch(0.8112 0.1013 293.5712);
	--chart-5: oklch(0.8994 0.0589 343.2311);
	--sidebar: oklch(0.9888 0.0045 78.2984);
	--sidebar-foreground: oklch(0.356 0.0688 272.6281);
	--sidebar-primary: oklch(0.356 0.0688 272.6281);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9709 0.0045 78.2981);
	--sidebar-accent-foreground: oklch(0.356 0.0688 272.6281);
	--sidebar-border: oklch(0.9276 0.0058 264.5313);
	--sidebar-ring: oklch(0.356 0.0688 272.6281);
	--font-sans: Poppins;
	--font-serif: Lora;
	--font-mono: Fira Code;
	--radius: 0.75rem;
	--shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: normal;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2101 0.0318 264.6645);
	--foreground: oklch(0.9888 0.0045 78.2984);
	--card: oklch(0.2781 0.0296 256.848);
	--card-foreground: oklch(0.9888 0.0045 78.2984);
	--popover: oklch(0.2781 0.0296 256.848);
	--popover-foreground: oklch(0.9888 0.0045 78.2984);
	--primary: oklch(0.4918 0.0754 272.2111);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.3729 0.0306 259.7328);
	--secondary-foreground: oklch(0.9888 0.0045 78.2984);
	--muted: oklch(0.3729 0.0306 259.7328);
	--muted-foreground: oklch(0.7137 0.0192 261.3246);
	--accent: oklch(0.4461 0.0263 256.8018);
	--accent-foreground: oklch(0.9888 0.0045 78.2984);
	--destructive: oklch(0.3958 0.1331 25.723);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3729 0.0306 259.7328);
	--input: oklch(0.3729 0.0306 259.7328);
	--ring: oklch(0.4918 0.0754 272.2111);
	--chart-1: oklch(0.4918 0.0754 272.2111);
	--chart-2: oklch(0.5054 0.1905 27.5181);
	--chart-3: oklch(0.4318 0.0865 166.9128);
	--chart-4: oklch(0.432 0.2106 292.7591);
	--chart-5: oklch(0.4587 0.1697 3.8151);
	--sidebar: oklch(0.2101 0.0318 264.6645);
	--sidebar-foreground: oklch(0.9888 0.0045 78.2984);
	--sidebar-primary: oklch(0.4918 0.0754 272.2111);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2781 0.0296 256.848);
	--sidebar-accent-foreground: oklch(0.9888 0.0045 78.2984);
	--sidebar-border: oklch(0.3729 0.0306 259.7328);
	--sidebar-ring: oklch(0.4918 0.0754 272.2111);
	--font-sans: Poppins;
	--font-serif: Lora;
	--font-mono: Fira Code;
	--radius: 0.75rem;
	--shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
	--shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
	--shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
	--shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.25);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
